In [1]:
import numpy as np
import pandas as pd

In [9]:
state_space = pd.read_csv("state_vectors.txt", header = None, names=["x", "y", "v_x", "v_y", "w", "leg_1", "leg_2"], sep=" ")

In [16]:
state_space.describe()

,x,y,v_x,v_y,w,leg_1,leg_2
count,2221.000000,2221.000000,2221.000000,2221.000000,2221.000000,2221.000000,2221.000000
mean,1.340739,0.137979,-0.494119,-0.667843,-0.440675,0.008555,0.008104
std,0.729461,0.678040,0.888632,1.530777,0.927318,0.092116,0.089679
min,-0.210995,-2.267055,-3.347752,-7.179123,-5.284166,0.000000,0.000000
25%,0.881426,-0.362203,-1.103845,-1.111841,-0.951908,0.000000,0.000000
50%,1.342273,0.154504,-0.471945,-0.161829,-0.245005,0.000000,0.000000
75%,1.594925,0.570007,0.109152,0.021940,-0.008095,0.000000,0.000000
max,3.817229,2.439578,1.873022,4.192718,6.613314,1.000000,1.000000

In [15]:
state_space.describe().T[['min', 'max']]

            min       max
x     -0.210995  3.817229
y     -2.267055  2.439578
v_x   -3.347752  1.873022
v_y   -7.179123  4.192718
w     -5.284166  6.613314
leg_1  0.000000  1.000000
leg_2  0.000000  1.000000